<div class="container">
  <div class="card card-login mx-auto mt-5">
    <div class="card-header">
      <h2>Registrar</h2>
    </div>
    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <div class="form-group">            
          <div class="field">
            <%= f.label :"Nome" %><br />
            <%= f.text_field :name, autofocus: true, autocomplete: "Nome" %>
          </div>
        </div> 
        <div class="form-group">            
          <div class="field">
            <%= f.label :"Cargo" %><br />
            <%= f.text_field :position, autocomplete: "Cargo" %>
          </div>
        </div>  
        <div class="form-group">            
          <div class="field">
            <%= f.label :"e-mail" %><br />
            <%= f.email_field :email, autocomplete: "email" %>
          </div>
        </div>            

        <div class="form-group">
          <div class="field">
            <%= f.label :senha %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> caracteres ao menos)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password" %>
          </div>
        </div>
        <div class="form-group">
          <div class="field">
            <%= f.label :"Confirmação de senha" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>
         </div>  
        <div class="field">
          <%= f.check_box :special, style: 'width: 20px; height: 20px; margin: 10px 0;' %>
          <%= f.label :"Pode tomar Café especial?" %>
        </div>        
        <div class="actions">
          <%= f.submit "Registrar", class:'btn btn-primary' %>
          <%= render "devise/shared/links" %>
        </div>
      <% end %>

      
    </div>
  </div>
</div>
