<%= form_with(model: register_coffe, local: true,html: {class:'border form-subscribe p-4'}) do |form| %>
  <% if register_coffe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(register_coffe.errors.count, "error") %> Não foi possivel salvar</h2>

      <ul>
      <% register_coffe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :café %>
    <%= collection_select :register_coffe, :coffe_id, @coffe , :id, :name,{}, {:class => "form-control"} %>
  </div>


  <div class="field">
    <%= form.label :data %>
    <%= form.datetime_select :date, {:start_year => 2017,:end_year => 2018,  :minute_step => 10 } %>
  </div>

  <div class="actions">
    <%= form.submit 'Enviar', class: 'btn btn-primary' %>
    <%= link_to 'Voltar', register_coffes_path, class: 'btn btn-outline-primary' %>
  </div>
<% end %>
