<script>
$.notify("<%= notice %>", "success")
</script>
<%= link_to  "Logout", destroy_employee_session_path, method: :delete, class: 'btn btn-outline-secondary float-right mt-3'  %>
<h1 class="text-center">  Cafés pegos</h1>

<%= link_to 'Pegar café', new_register_coffe_path, class: 'btn btn-primary mb-3' %>


<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Café</th>
      <th scope="col">Funcionário</th>
      <th scope="col">Cargo</th>
      <th scope="col">E-mail</th>
      <th scope="col">Data</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @register_coffes.each do |register_coffe| %>
      <tr>
        <td><%= register_coffe.coffe.name %></td>
        <td><%= register_coffe.employee.name %></td>
        <td><%= register_coffe.employee.position %></td>
        <td><%= register_coffe.employee.email %></td>
        <td><%= register_coffe.date.to_time.strftime('%d/%m/%Y %H:%M') %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

