    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <%=image_tag("coffe", class: 'coffe rounded mx-auto d-block')%>                    
                </div>
                <div class="col-lg-4">
                    <h1 class="coffe-font">Entao você<br>
                    quer um pouco de café?<br>
                    hmmmmmm!</h1>  
                    <%= link_to 'Siiiim!', register_coffes_path, class:'btn btn-primary btn-lg'%>
                    
                </div>
            </div>
        </div>
    </div>
