<div class="container">
  <div class="card card-login mx-auto mt-5">
    <div class="card-header">
      <h2>Entrar</h2>
    </div>
    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">            
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'form-control' %>
          </div>
      </div>

      <div class="field">
        <%= f.label :Senha %><br />
        <%= f.password_field :password, autocomplete: "current-password",class:'form-control' %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me, style: 'width: 20px; height: 20px; margin: 10px 0;' %>
          <%= f.label :"Lembre-me" %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Entrar", class:'btn btn-primary' %>
        <%= render "devise/shared/links" %>
      </div>
    <% end %>    
    </div>
  </div>
</div>