<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #35211e">
	<a href="/" class="navbar-brand coffe-font">Café K13</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar3">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar3">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#"> <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="//codeply.com"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"></a>
            </li>
        </ul>
    </div>
</nav>